
body {
    margin: middle;
    font-family: monospace;
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
   
 /*Another style body*/
 /* body {
   margin: middle;
   font-family: monospace;
   height: 99vh;
   background: linear-gradient(135deg, #6504B5, purple);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
} */
 
 .logo{
    padding: 4rem 0;
    border-bottom: 20px solid #6504B5;
 }

 .logo p{
    font-size: 3rem;
    font-weight: bold;
    color: purple;
 }
 
 .logo p span {
    color: #6504B5;
 }

.search-wrapper {
   /* background-color: #6504B5; */
   grid-template-columns: 9fr 3fr;
   flex-direction: column;
   gap: .25rem;
}  
/* .search-wrapper h3 {
   color: none;
   font-size: none;
   font-weight: none;
   margin-top: 1.5rem;
} */

.search-wrapper .form-control{
    padding: 0.5rem;
    font-size: 1rem;
    width: 18rem;
}

.search-breed-list{
   position: absolute;
   right: 100;
   top: 20%;
   max-height: 500px;
   overflow-y: scroll;
   /* z-index: 10 */
}

.breed-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10
 }

.submit-btn{
    color: white;
    background: #6504B5;
    /* border: #AA7FC6; */
    font-size: 1.1rem;
    padding: .5em, .75em;
    border-radius: .25em;
    cursor: pointer;
 }

input {
   font-size: 1rem ;
   border: none;
   border-radius: .1em;
   border-bottom: 2px solid #6504B5;
}


.card {
   background: #FFFF;
   padding: 1rem;
   text-align: center;
   border: 7px solid #6504B5;
   border-radius: 1rem;
   width: 15rem;
   height: 25rem;
   margin: 1rem 2rem;
   overflow: hidden;
}


.card.card-shadow {
   background: #FFFF;
   padding: 1rem;
   text-align: center;
   border: none;
   box-shadow: 0 2px 5px 0;
   /* border-radius: 1rem; */
   width: 15rem;
   height: 25rem;
   /* display: -ms-inline-grid; */
   margin: 1rem 2rem
}


.card-img{
   padding: 0;
   overflow: hidden;
}


.card-img > img{
   display: block;
   width: 100%;
   /* aspect-ratio: 16/9; */
   object-fit: cover;
   object-position: center;
}


.cat-breed {
   font-size: 1.5rem;
   margin-top: .5rem;
   margin-bottom: .5rem;
}


.cat-temperament, .cat-origin, .cat-description, .cat-lifespan {
   margin-bottom: .4rem;
}


.temperament, .origin, .description, .lifespan {
   margin-bottom: .4rem;
   text-align: left;
}




.delete-btn{
   color: white;
   font-size: small;
   background: #6504B5;
   border: AA7FC6;
   font-size: 0.8rem;
   padding: .5em, .75em;
   border-radius: .25em;
   cursor: pointer;
}


.hide {
   display: none
}


/*
Doesn't work
.card-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */
/* .delete-btn:hover, .delete-btn:focus {
   background: #6504B5(200, 50%, 60%);
} */


/* #title-section {
   height: 5em;
   size: large;
}










/* #header-img {
   background-image: url("../images/~~~~~~~~");
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   left: 30%;
   right: 30%;
   height: 25em;
} */
